---
title: Welcome to Middleman
---

<div class='header'>
  <img src='/images/logo.png'/>
</div>

<div class="welcome">
  <h1>Triangle Hack Day</h1>
  <div class='subtext'>
    <ul>
      <li><a href='#'>Triangle.rb</a></li>
      <li><a href='#'>Triangle Javascript</a></li>
    </ul>
  </div>
</div><!-- .welcome -->

<div class='date'>
  <%=Time.now.strftime('%d %b %Y')%>
</div>
<div class='blurb'>
  One day to bring all like-minded coders under one roof to code, hang out, and have good fun!
</div>
