---
title: Welcome to Middleman
---

<div class='header'>
  <div class='row links'>
    <div class='large-3 small-12 columns'>
      <a>Link</a>
    </div>
    <div class='large-3 small-12 columns'>
      <a>Link</a>
    </div>
    <div class='large-3 small-12 columns'>
      <a>Link</a>
    </div>
    <div class='large-3 small-12 columns'>
      <a>Link</a>
    </div>
  </div>
  <img src='/images/logo.png'/>
</div>

<div class='row'>
  <div class="welcome">
    <h1>Triangle Hack Day</h1>
    <div class='subtext'>
      <div class='date'>
        <%=Time.now.strftime('%d %b %Y')%>
      </div>
      <div class='location'>
        Durham, NC
      </div>
    </div>
  </div><!-- .welcome -->

  <div class='blurb'>
    One day to bring all like-minded coders under one roof to code, hang out, and have good fun!
  </div>
</div>


<footer>
  <div class='row'>
    <p> HOSTED BY </p>
    <div class='large-4 columns'><a href='http://www.meetup.com/raleighrb/'>Triangle.rb</a></div>
    <div class='large-4 columns'><a href='http://www.meetup.com/Triangle-DevOps/'>Triangle DevOps</a></div>
    <div class='large-4 columns'><a href='http://www.americanunderground.com/'>American Underground</a></div>
  </div>
</footer>
